body{
    background-color: #f7f7f7;
    padding-top: 92px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-weight: 600;
}

.main-div{
    display: flex;
    flex-flow: column nowrap;
    min-height: 90vh;
}

.nav-link.active{
    text-decoration: underline 0.2em #f58133;
    text-underline-offset: 0.25em;
}

.footer {
    text-align: center;
}

.greeting-text h1{
    font-size: 3.8rem;
    margin-bottom: 1.2rem;
}

.greeting-text p{
    font-size: 1.4rem;
}

.portfolio-btn{
    background-color: #f58133;
    border-color: #f58133;
}

.portfolio-btn:hover{
    background-color: #df610c;
    border-color: #df610c;
}

.project-btn{
    margin-top: auto;
    width: fit-content;
}

.resume-item{
    padding: 0 0 20px 20px;
    border-left: 2px solid;
}

.resume-item::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -7px;
    top: 0;
    background: #fff;
    border: 2px solid;
}

.resume-date{
    width: max-content;
    background-color: #ffc29a;
    padding: 0.25rem 0.5rem;
}

.project-link{
    text-decoration: none;
    color: black;
}

.project-link:hover{
    color: #df610c;
}

.made-with-wrapper img{
    margin: 0 0.3rem 0.4rem 0;
    height: 45px;
}

@media (min-width: 769px) {
    .greeting-text{
        width: 60%;
    }
    .greeting-image{
        width: 40%;
        float: right;
        margin-bottom: 0px !important;
    }
    .project-card{
        width: 32%;
    }
}